{% extends 'productos/base.html' %}

{% block title %}Acerca de mí - Tienda Libre{% endblock %}

{% block content %}
<div class="card shadow-sm p-4 text-center bg-primary-subtle">
    <div class="container-fluid py-3">
        <h1 class="card-title text-primary">Acerca del Desarrollador</h1>
        <hr>
        <p class="card-text fs-4">¡Hola! Soy Genaro Correa, estudiante de programación trabajando en el proyecto e-commerce Tienda Libre.</p>
        <div>
            <a href="/" class="btn btn-primary btn-lg">Volver al inicio</a>
        </div>
    </div>
</div>
{% endblock %}